<ion-grid fixed>
  <ion-row>
    <!-- Avatar -->
    <ion-col size="6">
      <ion-avatar class="avatar">
        @if (user$) {
        <img
          [src]="user$.avatar || 'assets/avatar/album-photo.jpg'"
          alt="Avatar"
        />
        } @else {
        <ion-skeleton-text
          animated
          style="border-radius: 50%; width: 48px; height: 48px"
        ></ion-skeleton-text>
        }
      </ion-avatar>
    </ion-col>

    <!-- Infos utilisateur -->
    <ion-col size="6" class="ion-text-start ion-align-self-center">
      <ion-row>
        <ion-col>
          {{ user$?.email }}
        </ion-col>
      </ion-row>

      @if (user$?.role === 'artist') {
      <ion-row>
        <ion-col>
          {{ user$?.artiste?.subscribers }}
        </ion-col>
      </ion-row>
      }
    </ion-col>
  </ion-row>
</ion-grid>
