<ion-grid fixed>
  <ion-row>
    <ion-col class="ion-align-self-center"
      ><ion-avatar>
        <!-- <ng-container *ngIf="user$ | async; else defaultAvatar">
          <img
            [src]="(user$ | async)?.avatar || 'assets/avatar/album-photo.jpg'"
            alt="Avatar"
          />
        </ng-container> -->

        <ng-template #defaultAvatar>
          <img src="assets/avatar/album-photo.jpg" alt="Avatar par défaut" />
        </ng-template>
      </ion-avatar>
    </ion-col>
    <ion-col
      ><ion-text>
        <h6>{{ (user$ | async)?.email }}<br />ViewProfile</h6>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
