.mini-player {
  width: 100%;
  position: fixed;
  bottom: 42px;
  left: 0;
  z-index: 1000;
}
.mini-player ion-toolbar {
  width: 100%;
}

ion-icon {
  color: aliceblue;
}

ion-img {
  width: 50%;
}

ion-row,
ion-col {
  height: fit-content;
}

p {
  color: black;
}

app-music-nav-bar .player-container ion-grid {
  padding: 0;
}

// .mini-player {
//   position: fixed;
//   bottom: 56px; /* ajuste selon ta bottom nav */
//   width: 100%;
//   z-index: 99;
//   background: var(--ion-color-light);
//   border-top: 1px solid rgba(0, 0, 0, 0.08);
// }
// ion-thumbnail img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
