<div class="mini-player" #miniPlayer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-img
            [src]="music?.cover"
            style="width: 50px; height: auto"
          ></ion-img>
        </ion-col>
        <ion-col>
          <p class="ion-text-left">{{ music?.title }}</p>
          <p class="ion-text-left"></p>
        </ion-col>
        <ion-col size="auto">
          <app-music-nav-bar
            [isMini]="true"
            style="padding: 0"
          ></app-music-nav-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</div>
