<ion-grid fixed [class.modal-open]="isModalOpen">
  <app-research (searchChange)="onSearchTermChange($event)"></app-research>
  <ion-content>
    <ion-row>
      <ion-col size="12">
        <ion-grid fixed>
          @if (((albums$ | async)?.length ?? 0) > 0){ @for (album of (albums$
          |async); track $index) {
          <ion-row>
            <ion-col size="12"
              ><app-album-container [album]="album"> </app-album-container>
            </ion-col>
          </ion-row>

          } } @if (((artists$ | async)?.length ?? 0) > 0){ @for (artist of
          (artists$ |async); track $index) {
          <ion-row>
            <ion-col size="12"
              ><app-artist-container [artist]="artist"></app-artist-container>
            </ion-col>
          </ion-row>

          } } @if (((songs$ | async)?.length ?? 0) > 0) { @for (song of (songs$
          | async); track $index) {
          <ion-row>
            <ion-col size="12"
              ><app-music-container
                [openWith]="playContext"
                [song]="song"
              ></app-music-container>
            </ion-col>
          </ion-row>

          } } @if (listPlaylists.length > 0) { @for (playlist of
          listPlaylists; track playlist) {
          <ion-row>
            <ion-col size="12"
              ><app-playlist-container
                nbSong="{{playlist.songs.length}}"
                playlistName="{{playlist.title}}"
                cover="{{playlist.cover}}"
                playlistId="{{playlist.id}}"
              ></app-playlist-container
            ></ion-col>
          </ion-row>
          } }@if (listPlaylists.length === 0 && (songs$|async)?.length === 0 &&
          artistLists.length === 0){
          <ion-row class="empty-result">
            <ion-col size="12">
              <ion-text class="ion-text-center">
                <h1>Écoutez la musique que vous aimez</h1>
                <h4>Artistes,titres,playlist et bien plus encore</h4>
              </ion-text></ion-col
            >
          </ion-row>
          }
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-grid>
