<ion-content [class.modal-open]="isModalOpen">
  <app-header-category
    [songs]="favoriteSongs() ?? []"
    title="Favoris"
    [page]="'favoris'"
  ></app-header-category>
  <ion-grid fixed>
    @for(favorite of favoriteSongs(); track favorite){
    <app-music-container
      [openWith]="playContext"
      artistName="test"
      [song]="favorite"
    ></app-music-container>
    } @for(favorite of favoriteAlbums(); track favorite){
    <app-album-container
      artistName="test"
      [album]="favorite"
    ></app-album-container>
    }
  </ion-grid>
</ion-content>
