<ion-row class="row-music-container ion-align-items-center">
  <ion-col size="auto" (click)="openPlayer()" class="ion-no-padding">
    <ion-img [src]="song.cover" class="song-cover"></ion-img>
  </ion-col>

  <ion-col (click)="openPlayer()" class="music-info-col">
    <div class="music-name">
      <h6 class="truncate-text">{{ song.title }}</h6>
      <!-- <p class="truncate-text">{{ artistName }}</p> -->
    </div>
  </ion-col>

  <ion-col size="auto">
    <div class="duration-text">
      {{ getFormattedDuration() }}
    </div>
  </ion-col>

  <ion-col size="auto" class="actions-col">
    <div class="actions-wrapper">
      <app-song-option
        (click)="openModal()"
        [id]="song.id"
        [song]="song"
      ></app-song-option>
      <app-like-song [song]="song"></app-like-song>
      <app-share-song [id]="song.id"></app-share-song>
    </div>
  </ion-col>
</ion-row>
