.album-container {
  border-bottom: inset;
  padding: 1rem 0;
  align-items: center;
}

ion-img::part(image) {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.album-author {
  font-size: 14px;
  color: var(--ion-color-medium);
  margin: 0.2rem 0;
}

.album-meta {
  font-size: 12px;
  color: var(--ion-color-medium);
}

.action-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
