<ion-content [class.modal-open]="isModalOpen">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <app-back-button
                (click)="minimizePlayer()"
                [closeModal]="true"
              ></app-back-button>
            </ion-buttons>
            <ion-title>{{music.title}}</ion-title>
            <ion-buttons slot="end">
              <app-song-option [song]="music"></app-song-option>
            </ion-buttons>
          </ion-toolbar> </ion-header
      ></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row id="cover">
      <ion-col>
        <ion-img
          src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/artistic-album-cover-design-template-d12ef0296af80b58363dc0deef077ecc_screen.jpg?ts=1735798846"
          alt="Cover de la chanson {{music.title}}"
        ></ion-img
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{music.title}}<br /></ion-col>
      <ion-col class="ion-align-self-start container-option"
        ><app-like-song [song]="music"></app-like-song>
        <app-share-song></app-share-song
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        ><app-music-nav-bar
          [music]="music"
          (navigateSong)="handleNavigation($event)"
        ></app-music-nav-bar
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        ><app-lyrics-box lyrics="{{music.lyrics}}"></app-lyrics-box
      ></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
