<ion-content>
  <ion-grid fixed [class.modal-open]="isModalOpen">
    <!-- Header avec avatar et nom -->
    <ion-row>
      <ion-col size="12" class="container-img">
        <ion-img [src]="lastAlbumCover$ | async"></ion-img>
        <ion-text>
          <h1>{{ (artist$ | async)?.firstName }}</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Toggle Music / Album -->
    <ion-row class="ion-align-items-center ion-padding-horizontal">
      <ion-col size="auto">
        <ion-segment
          name="artistSegment"
          [value]="selectedTab()"
          (ionChange)="onSegmentChange($event)"
        >
          <ion-segment-button value="music">
            <ion-label>Songs</ion-label>
          </ion-segment-button>
          <ion-segment-button value="album">
            <ion-label>Albums</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

      <!-- Play button -->
      <ion-col size="auto" class="ion-align-self-end ion-text-end">
        <ion-button (click)="onClick()" class="ColorGreenBtn">
          <ion-icon slot="icon-only" name="play-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    @switch(selectedTab()) { @case('music') { @for(song of (songList$ | async);
    track song) {
    <app-music-container [song]="song"></app-music-container>
    } } @case('album') { @for(album of (albumList$ | async); track album) {
    <app-album-container [album]="album"></app-album-container>
    } } }
  </ion-grid>
  <app-back-button color="light"></app-back-button>
</ion-content>
