<div class="share-container">
  <!-- Poignée visuelle pour le style "Sheet Modal" -->
  <div class="modal-handle"></div>

  <h2 class="share-title">Partager via</h2>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <!-- Lien / Copier -->
      <ion-col size="3" class="share-col" (click)="copyLink()">
        <div class="share-icon-wrapper copy">
          <div class="icon-circle">
            <ion-icon name="link-outline"></ion-icon>
          </div>
          <ion-text class="share-label">Lien</ion-text>
        </div>
      </ion-col>

      <!-- WhatsApp -->
      <ion-col size="3" class="share-col" (click)="shareToSocial('whatsapp')">
        <div class="share-icon-wrapper whatsapp">
          <div class="icon-circle">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </div>
          <ion-text class="share-label">WhatsApp</ion-text>
        </div>
      </ion-col>

      <!-- Twitter / X -->
      <ion-col size="3" class="share-col" (click)="shareToSocial('twitter')">
        <div class="share-icon-wrapper twitter">
          <div class="icon-circle">
            <ion-icon name="logo-twitter"></ion-icon>
          </div>
          <ion-text class="share-label">Twitter</ion-text>
        </div>
      </ion-col>

      <!-- Natif / Plus -->
      <ion-col size="3" class="share-col" (click)="shareNatively()">
        <div class="share-icon-wrapper native">
          <div class="icon-circle">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </div>
          <ion-text class="share-label">Plus</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
