.modal-box {
  max-width: 500px;
  margin: 0 auto;
  background: var(--ion-background-color);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}
