<ion-row class=".playlist-container">
  <ion-col (click)="redirectToPlaylist()">
    <ion-img [src]="cover"></ion-img>
  </ion-col>
  <ion-col (click)="redirectToPlaylist()">
    <p>{{ playlistName }}</p>
    <p>{{ nbSong }}</p>
  </ion-col>
  <ion-col
    class="action-button ion-justify-content-between ion-align-items-end"
  >
    <ion-row>
      <!-- <app-song-option id="{{ playlistId }}"></app-song-option> -->
    </ion-row>
    <ion-row>
      <app-like-song></app-like-song>
      <app-share-song id="{{ playlistId }}"></app-share-song>
    </ion-row>
  </ion-col>
</ion-row>
